:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --main-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-color: #fff;
  --team-font: #757575;
}

body {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  width: 1600px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/**---------- Header ----------**/

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
}

.studio-header {
  color: var(--main-text-color);
}

.page-list {
  list-style-type: none;
}

.header-link {
  font-family: inherit;
  color: currentColor;
  text-decoration: none;
}

.link-mode:hover,
.link-mode:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.email,
.phone {
  font-family: inherit;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--team-font);
  text-decoration: none;
}
/**---------- header-container ----------**/

.header-section {
  margin-bottom: 94px;
}
.header-container {
  display: flex;
}
.nav-container {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 30px;
}
.link-container {
  display: flex;
  gap: 50px;
}
.address-container {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 40px;
  padding-top: 24px;
  padding-bottom: 30px;
}
.header-logo {
  margin-right: 93px;
}

/**---------- Main ----------**/
.main-section {
  background-color: #2f303a;
  padding-top: 195px;
  padding-bottom: 200px;
}

.main-section {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 94px;
}
.container.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-button {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: currentColor;
  cursor: pointer;
  border: none;
}

.btn-size {
  border-radius: 4px;
  width: 125px;
  height: 38px;
  background: #f5f4fa;
}
.current-btn {
  color: var(--secondary-color);
  background-color: var(--accent-color);
  border: 1px solid #000;
  border-radius: 4px;
  padding: 6px 25px;
  width: 73px;
  height: 38px;
}

.btn-container {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  margin-bottom: 34px;
}

.main-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-color);
}
.main-text-size {
  margin-bottom: 33px;
  width: 696px;
}

.main-button {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
  cursor: pointer;
}

.hero-button {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  display: inline-block;
}
.about-container {
  margin-bottom: 94px;
}
.about-text {
  width: 270px;
}
.container-wrap {
  margin-bottom: 94px;
}
.btn-mode:hover,
.btn-mode:focus {
  color: var(--secondary-color);
  background-color: var(--accent-color);
}

.text-subtitle {
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: currentColor;
  margin-bottom: 10px;
}

.text-undertitle {
  font-family: inherit;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  color: var(--team-font);
}

.text-container {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  justify-content: space-evenly;
}

.about-text {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.img-wrap {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.team-wrap {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  border-radius: 0 0 4px 4px;
}

.member-card {
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  background: #fff;
}
.team-section {
  background: #f5f4fa;
  padding-bottom: 94px;
}

.text {
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.03em;
  color: currentColor;
  margin-bottom: 50px;
}

.title-secondary {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
  margin-bottom: 4px;
}

.text-secondary {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--team-font);
}
.image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 94px;
}
.page-img-list a {
  text-decoration: none;
}
.page-img-list {
  list-style-type: none;
}
.img-about {
  border: 1px solid #eee;
  width: 370px;
  height: 404px;
}

.img-item {
  margin-bottom: 20px;
}

.member-img {
  margin-bottom: 30px;
}
.team-title {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  color: currentColor;
  text-align: center;
  margin-bottom: 10px;
}

.team-text {
  font-family: inherit;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--team-font);
  text-align: center;
  margin-bottom: 30px;
}

.text-secondary, .title-secondary {
  margin-left: 24px;
}

.text-secondary {
  margin-bottom: 20px;
}

/**---------- Footer ----------**/

.footer {
  background-color: #2f303a;
}

.footer-container {
  display: flex;
  flex-direction: column;
}

.footer-address-container {
  display: flex;
  flex-direction: column;
}

.address-text {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  font-style: normal;
  margin-bottom: 12px;
}

.studio-footer {
  color: var(--secondary-color);
  text-decoration: none;
}

.footer-email,
.footer-phone {
  font-family: var(--main-font);
  line-height: 1.71429;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
}

.email-item {
  margin-bottom: 12px;
}
.phone-item {
  margin-bottom: 60px;
}
.footer-logo {
  margin-top: 60px;
  margin-bottom: 30px;
}
